<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Title Here</title>
</head>
<body>
    <section class="movie">
        <h2 class="movie-title">Inside Out</h2>
        <div class="character">
            <% for (let i = 0; i < items.length; i++) { %>
                <div class="item" style="background-image: url(<%= items[i].image %>)">
                    <div class="item-desc">
                        <h3><%= items[i].name %></h3>
                        <p><%= items[i].quote1 %><br><%= items[i].quote2 %></p>
                    </div>
                </div>
            <% } %>
        </div>
    </section>
    <script>
        $(document).ready(function () {
            $(".character").owlCarousel({
                autoWidth: true,
                loop: true,
                items: 3, // 보여질 아이템 개수
                margin: 20, // 아이템 간의 간격
                center: true, // 중앙 정렬
                responsive: {
                    0: {
                        items: 1
                    },
                    768: {
                        items: 2
                    },
                    992: {
                        items: 3
                    }
                }
            });

            $(".item").click(function () {
                $(".item").not($(this)).removeClass("active");
                $(this).toggleClass("active");
            });
        });
    </script>
</body>
</html>