<div class="flash-msg">
    <% if (flashMessages) { %>
        <% if (flashMessages.success) { %>
            <div class="alert alert-success falsh success">
                <%= flashMessages.success %>
            </div>
        <% } else if (flashMessages.error) { %>
            <div class="alert alert-success falsh error">
                <%= flashMessages.error %>
            </div>
        <% } %>
    <% } %>
</div>